<!-- <p>home-component works!</p> -->
<div class="home-content">
  <!-- TOP -->
  <div class="home-content__top">
    <app-weather />
  </div>

  <!-- CENTER -->
  <div class="home-content__center">
    <app-new-session-modal
      [title]="'session.new'"
      [description]="'session.new.description'"
      [btnTitle]="'session.new.btn'"
      [cancelMessage]="'message.cancel'"
      [validationMessage]="'message.new.validation'"
    />
  </div>

  <!-- BOTTOM -->
  <div class="home-content__bottom">
    <app-steps-tracker />
    <app-last-sport-session />
  </div>
</div>
