.series-validator {
  pointer-events: all;
  opacity: var(--opacity-idle);
}

.series-validator__icon,
.series-validator__icon--validated {
  opacity: var(--opacity-idle);
  width: var(--size-medium);
  height: var(--size-medium);
  border-radius: 50%;
}

.series-validator__icon:hover,
.series-validator__icon:has(~ .series-validator__icon:hover) {
  cursor: pointer;
  opacity: var(--opacity-hover);
  box-shadow: 0 0 0 0.125rem var(--color-grey);
}

.series-validator__icon:active {
  opacity: var(--opacity-active);
}

.series-validator__icon--validated {
  opacity: var(--opacity-active);
  pointer-events: none;
}
