.link:not(:disabled) {
  border-radius: var(--size-very-small);
  padding: var(--size-very-small);
  background-color: var(--color-transparent);
}

.link:not(:disabled):hover {
  background-color: var(--color-light-transparent);
}

.link:not(:disabled):active {
  opacity: var(--opacity-active);
}

.link.is-active {
  background-color: var(--color-light-transparent);
  border: solid 1px var(--color-light);
}
