.widget {
  height: var(--widget-height);
  /* width: calc(100dvw - var(--sidebar-width-idle)); */
  position: relative;
  background: var(--gradient-dark);
  border-radius: var(--size-small);
  box-shadow: var(--box-shadow-dark);
  margin-top: var(--size-medium);
  margin-bottom: var(--size-large);
}

.widget > .widget-content {
  display: flex;
  flex-direction: column;
  padding: var(--size-medium);
  color: var(--color-light);
  height: 100%;
}
