header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-small);
  height: var(--header-height);
  background-color: var(--color-dark);
  border-bottom: solid 1px var(--color-secondary);
  padding: 0 var(--size-small);
  padding-left: 0;
  color: var(--color-light);
  position: sticky;
  top: 0;
  z-index: 100;
}

.app-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sidebar-width-idle);
}

.header-left,
/* .header-center, */
.header-right {
  display: flex;
  align-items: center;
  gap: var(--size-medium);
  /* flex: calc(1 / 3); */
}

.header-left {
  /* margin-left: var(--size-small); */
  justify-content: flex-start;
  flex: 0.85;
}

/* .header-center {
  justify-content: center;
} */

.header-right {
  margin-right: var(--size-very-small);
  justify-content: flex-end;
  flex: 0.15;
}
