<div #selectable class="exercise-item selectable--idle user-select-none">
  <!-- TOP -->
  <section class="exercise-item__top">
    <!-- TOP LEFT -->
    <section class="exercise-item__top-left">
      <h1 class="exercise-item__title">{{ exercise.name }}</h1>
      <app-index [parent]="this" [isDisplayable]="isInteractable" />
    </section>

    <!-- TOP RIGHT -->
    <section class="exercise-item__top-right">
      <app-icon
        [src]="
          'assets/icons/muscle-groups/' +
          (exercise.muscleGroup | lowercase) +
          '.png'
        "
        [alt]="exercise.muscleGroup"
        [class]="'icon img-container--medium-large'"
        [title]="exercise.muscleGroup"
      />
    </section>
  </section>

  <!-- CENTER -->
  <section class="exercise-item__center">
    <p class="exercise-item__description">
      {{ exercise.description }}
    </p>
  </section>

  <!-- BOTTOM -->
  <section class="exercise-item__bottom">
    <!-- BOTTOM LEFT -->
    <section class="exercise-item__bottom-left">
      <!-- SERIES -->
      <div class="d-flex flex-column gap-1">
        <small class="small-header">
          {{ "series" }}
        </small>
        @if (false) {
        <p class="numeric">
          {{ exercise.series }}
        </p>
        } @else {
        <app-exercise-series-counter [series]="exercise.series" />
        }
      </div>

      <!-- REPS -->
      <div class="d-flex flex-column gap-1">
        <small class="small-header">
          {{ "reps" }}
        </small>
        <p class="numeric">
          {{ exercise.repetitions }}
        </p>
      </div>

      <!-- WEIGHT -->
      <div class="d-flex flex-column gap-1">
        <small class="small-header">
          {{ "weight" }}
        </small>
        <div class="d-flex align-items-end">
          <p class="numeric">
            {{ exercise.weight }}
          </p>
          <p class="unit">{{ "kg" }}</p>
        </div>
      </div>
    </section>

    <!-- BOTTOM RIGHT -->
    <section class="exercise-item__bottom-right">
      <div class="d-flex flex-column gap-1">
        <small class="small-header">
          {{ "recovery" }}
        </small>
        <p class="numeric">
          {{ getRecoveryTime() }}
        </p>
      </div>
    </section>
  </section>
</div>
