<!-- Weather info block element -->
<div class="widget">
  <!-- The weather information - content -->
  <div class="widget__timer-content">
    <!-- Timer -->
    <section #timerProgress id="timerProgress">
      <p #timerValue class="widget__timer-value user-select-none">
        {{ timeFormatter.formatToSecondsMinutesMilliseconds(currentValue) }}
      </p>
    </section>

    <section class="widget__timer-buttons">
      <button
        #timerStateBtn
        id="timerStateBtn"
        class="btn btn-secondary border-0"
        title="timer.start"
        (click)="toggleTimer()"
      >
        <section class="img-container--large">
          <img
            [src]="timerPlayIconSrc"
            alt="Timer start icon"
            class="color-inverted"
          />
        </section>
      </button>

      <button
        #timerRefreshBtn
        id="timerRefreshBtn"
        class="btn btn-secondary border-0"
        title="timer.refresh"
        disabled
        (click)="refresh()"
      >
        <section class="img-container--large">
          <img
            [src]="timerRefreshIconSrc"
            alt="Timer refresh icon"
            class="color-inverted"
          />
        </section>
      </button>
    </section>
  </div>
</div>
