@property --weather-temperature-fs-ratio {
  syntax: "<number>";
  inherits: false;
  initial-value: 1.45;
}

/* Ratios are applied to the width and height of the weather image */
/* Value of 0 will not apply any offset */
@property --weather-image-ratio-y {
  syntax: "<number>";
  inherits: false;
  initial-value: 1.25;
}
@property --weather-image-ratio-x {
  syntax: "<number>";
  inherits: false;
  initial-value: 1.25;
}

/* Offsets are applied to the bottom and right */
/* Value of 0 will not apply any offset */
@property --weather-image-offset-y {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --weather-image-offset-x {
  syntax: "<number>";
  inherits: false;
  initial-value: 1.5;
}

.widget__weather-datetime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.2;
}

.widget__weather-date {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  color: var(--color-primary);
}

.widget__weather-time {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-numbers);
}

.widget__weather-location {
  font-weight: var(--font-weight-semibold);
}

.widget__weather-temperature {
  font-size: calc(var(--font-size-title) * var(--weather-temperature-fs-ratio));
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-numbers);
  flex: 0.7;
  color: var(--color-primary);
}

.widget__weather-text {
  font-size: var(--font-size-small);
  flex: 0.1;
}

.widget__weather-image {
  position: absolute;
  right: calc(var(--size-very-large) * var(--weather-image-offset-x));
  bottom: calc(-1 * var(--size-medium) * var(--weather-image-offset-y));
  width: calc(var(--size-extra-large) * var(--weather-image-ratio-x));
  height: calc(var(--size-extra-large) * var(--weather-image-ratio-y));
}
