.img-container,
.img-container--small,
.img-container--small-medium,
.img-container--medium,
.img-container--medium-large,
.img-container--large {
  overflow: hidden;
  width: var(--size-large);
  height: 100%;
}

.img-container--small {
  width: var(--size-small);
  height: var(--size-small);
}

.img-container--small-medium {
  width: var(--size-small-medium);
  height: var(--size-small-medium);
}

.img-container--medium {
  width: var(--size-medium);
  height: var(--size-medium);
}

.img-container--medium-large {
  width: var(--size-medium-large);
  height: var(--size-medium-large);
}

.img-container--large {
  width: var(--size-large);
  height: var(--size-large);
}

.img-container > img {
  width: auto;
  height: 100%;
}
