.sidebar {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: calc(0 - var(--header-height));
  left: 0;

  width: calc(var(--sidebar-width-idle) + 1px);
  height: calc(100vh - var(--header-height));

  background-color: var(--color-dark);
  color: aliceblue;

  padding: var(--size-very-small);
  padding-top: var(--size-medium);
  border-right: solid 1px var(--color-secondary);
}

.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar-top {
  justify-content: flex-start;
  flex: 0.95;
  gap: var(--size-small);
}

.sidebar-top > a {
  opacity: var(--opacity-inactive);
}

.sidebar-top > a.is-active {
  opacity: var(--opacity-active);
}

.sidebar-bottom {
  justify-content: center;
  flex: 0.05;
}
