.filter-item {
  padding: var(--size-very-small) var(--size-small);
  border: solid 1px var(--color-transparent);
}

.filter-item:hover {
  border: solid 1px var(--color-transparent);
  background-color: var(--color-grey-transparent);
  box-shadow: none;
}

.filter-item.selectable--selected {
  border-bottom: solid 1px var(--color-light);
}
