<div #selectable class="exercise-card selectable--idle user-select-none">
  <div class="exercise-card-top">
    <section class="exercise-card-top-left">
      <h1 class="exercise-card-title">{{ exercise.name }}</h1>
      <p class="exercise-card-description">{{ exercise.description }}</p>
    </section>

    <section class="exercise-card-top-right">
      <app-icon
        [src]="
          'assets/icons/muscle-groups/' +
          (exercise.muscleGroup | lowercase) +
          '.png'
        "
        [alt]="exercise.muscleGroup"
        [class]="'icon img-container--large'"
        [title]="exercise.muscleGroup"
      ></app-icon>
    </section>
  </div>

  <div class="exercise-card-bottom">
    <div class="d-flex justify-content-between w-100">
      <section class="d-flex align-items-center gap-1">
        <app-icon
          *ngFor="let _ of exercise.series | numToArray; let i = index"
          [src]="'assets/icons/circle.png'"
          [alt]="''"
          [class]="'icon img-container--medium to-white'"
        ></app-icon>
      </section>

      <p class="numeric">
        {{ exercise.repetitions }}
      </p>
      <p class="numeric">{{ getRecoveryTime() }}</p>
    </div>
  </div>
</div>
