.exercise-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--size-medium);
  padding-bottom: var(--size-small-medium);
  border-radius: var(--size-small);
  background: var(--gradient-dark-default);
  box-shadow: var(--box-shadow-soft);
  width: 100%;
  height: 100%;
  color: var(--color-light);
}

.exercise-card-top,
.exercise-card-bottom {
  padding: var(--size-very-small);
}

.exercise-card-top,
.exercise-card-bottom,
.exercise-card-top-left,
.exercise-card-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.exercise-card-top,
.exercise-card-bottom {
  justify-content: space-between;
}

.exercise-card-top {
  flex: 1;
  text-align: left;
}

.exercise-card-bottom {
  margin-top: var(--size-large);
  border-radius: var(--size-very-small);
  opacity: 0.8;
}

.exercise-card-top-left,
.exercise-card-top-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.exercise-card-top-left {
  gap: var(--size-small);
  flex: 0.85;
  align-items: flex-start;
}

.exercise-card-top-right {
  flex: 0.15;
  align-items: flex-end;
}

.exercise-card-title {
  margin-bottom: 0;
  color: var(--color-primary);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-body);
  text-transform: uppercase;
}

.exercise-card-description {
  opacity: 0.8;
  /* line-height: 1.6; */
  font-family: var(--font-family-body-light);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
}
