<section class="exercise-group-selector user-select-none">
  <!-- Group header - Muscle group + checkbox -->
  <div class="exercise-group-selector__top">
    <!-- Muscle group -->
    @if (muscleGroup) {
    <p class="ff-bold-title">{{ "━ " + muscleGroup | uppercase }}</p>
    }

    <!-- Checkbox -->
    @if (canSelectMultiple) {
    <input
      #checkbox
      type="checkbox"
      class="form-check-input"
      (click)="handleSelectionCheckboxClicked()"
    />
    }
  </div>

  <!-- Group content - Exercises -->
  <div class="exercise-group-selector__bottom">
    @for (exercise of exercises; track exercise.id) {
    <app-exercise-selector
      [exercise]="exercise"
      (onSelectableClicked)="handleSelectableClicked($event)"
    />
    }
  </div>
</section>
