.modal-content {
  background-color: var(--color-body);
}

.modal-header {
  border-bottom: solid 1px var(--color-light-transparent);
}

.modal-footer {
  justify-content: space-between;
  border-top: solid 1px var(--color-light-transparent);
}

.modal-footer .btn:first-child {
  flex: 0.4;
}

.modal-footer .btn:last-child {
  flex: 1;
}
