<!-- Weather info block element -->
<div class="widget">
  <!-- The weather information - content -->
  <div class="timer__content">
    <!-- Timer -->
    <section #timerProgress class="timer__progress">
      <app-circular-progress-bar [isDisplayable]="true" />
      <p #timerValue class="timer__value user-select-none w-100">
        {{ getCurrentValue(true) }}
      </p>
    </section>

    <section class="timer-management__buttons">
      <button
        #stateBtn
        id="stateBtn"
        class="btn btn-secondary rounded-circle"
        (click)="toggleTimer()"
      >
        <app-icon
          #timerStateIcon
          [src]="timerPlayIcon"
          [alt]="'Timer start icon'"
          [class]="'img-container--medium-large to-primary'"
          [title]="'timer.start'"
        >
        </app-icon>
      </button>

      @if (canBeRefreshed) {
      <button
        #refreshBtn
        id="refreshBtn"
        class="btn btn-secondary rounded-circle"
      >
        <app-icon
          [src]="timerRefreshIcon"
          [alt]="'Timer refresh icon'"
          [class]="'img-container--medium-large to-primary'"
          [title]="'timer.refresh'"
        ></app-icon>
      </button>
      }
    </section>
  </div>
</div>
