.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15rem;
  border: none;
  box-shadow: none;
  margin: auto;
  padding: 0 var(--size-medium-large);
}

.timer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-light);
  margin: auto;
}

.timer__progress {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.timer__value {
  position: absolute;
  text-align: center;
  font-size: calc(var(--size-medium) * 1.25);
  font-family: var(--font-family-numbers);
  font-weight: var(--font-weight-light);
}

.timer-management__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 0 var(--size-medium-large);

  button {
    padding: var(--size-very-small);
    background-color: var(--color-body);
  }
}
